* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Shojumaru';
  background-color: #340433;
  color: #f49d06;
  padding: 25px;
}

.again,
.check {
  font-family: 'Shojumaru';
  font-size: 25px;
  padding: 16px;
  background-color: #630463;
  border: 2px solid white;
  margin-bottom: 20px;
  color: #f49d06;
  cursor: pointer;
}

h1,
h2 {
  text-align: center;
}

h2 {
  color: white;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 33px;
}

h1 {
  margin-bottom: 40px;
  font-size: 50px;
}

.correct {
  text-align: center;
  width: 11rem;
  font-size: 40px;
  padding: 2rem 0rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #630463;
  border: 3px dotted white;
}

header {
  position: relative;
  height: 39vh;
  border-bottom: 10px solid #630463;
  margin-bottom: 150px;
}

main {
  display: flex;
  justify-content: space-around;
}

footer {
  margin-top: 45px;
}

h3 {
  text-align: center;
}

.check {
  margin-left: 2.15em;
}

.guess {
  background-color: #630463;
  border: 2px dotted white;
  width: 16rem;
  height: 8rem;
  margin-bottom: 30px;
  font-size: 80px;
  text-align: center;
}

.right {
  margin-right: 20px;
}
.txt {
  color: white;
  margin-top: 10px;
  font-size: 30px;
}
#txt-sg {
  font-size: 35px;
}

.again:hover,
.check:hover {
  color: black;
  transition: all 0.75s ease 0s;
}
.guess:focus {
  outline: none;
  border: 3px solid #f49d06;
  transition: all 0.25s ease 0s;
}

footer h3 {
  font-family: Times;
  font-size: 14px;
  color: black;
}
